* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tamanho-menu {
    width: 327px;
}

header {
    display: flex;
    flex-direction: column;
    gap: 44px;

    height: 251px;
    background: #F2E63D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    padding: 20px 15px;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav div {
    display: flex;
    align-items: center;

    gap: 10px;
}

header nav div img {
    width: 61px;
    height: 62px;
}

header nav div a {
    color: #000;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 800;
    text-decoration: none;
}

header button {
    width: 100%;
    height: 48px;

    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;

    border: none;
    border-radius: 12px;
    background: #171612;
}

main nav {
    padding: 18px 20px;
}

main nav ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

main nav ul li a {
    display: flex;
    align-items: center;
    gap: 18px;

    text-decoration: none;
}

main nav a img {
    width: 52px;
    width: 52px;
}

main nav a p {
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 800;
}